<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Gestion d'interventions</a>
    <button class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item active">
          <a class="nav-link active" aria-current="page" [routerLink]="'/bienvenue'"data-toggle="collapse" data-target=".navbar-collapse.show" >Acceuil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/probleme'" data-toggle="collapse" data-target=".navbar-collapse.show" >Déclarer un problème</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>

<br />
<div class="mx-auto" style="width: 300px">
  <div class="card text-center" style="width: 20rem">
    <img
      class="card-img-top"
      src="C:\Users\Nathalia\Documents\Angular\Interventions\src\assets\logo.jpg"
      alt="Card image cap"
    />
    <div class="card-body">
      <p class="card-text">Développé par Nathalia Maclennan Heinemeyer</p>
      <h3>
        <a href="#">www.compagnie.abc</a>
      </h3>
    </div>
  </div>
</div>
