<div class="container">
  <br />
  <div class="card">
    <div class="card-header text-white bg-secondary">
      <!-- L'en-tête ici -->
      <br />
      <br />
    </div>
    <div class="card-body">
      <h5 class="card-title">
        Veuillez renseigner les zones suivante et soumettre votre demande
      </h5>
      <div class="card-text">
        <div class="card-text">
          <form
            class="form-horizontal"
            novalidate
            (ngSubmit)="save()"
            [formGroup]="problemeForm"
          >
            <div class="input-group">
              <span class="input-group-text">Prénom</span>
              <input
                class="form-control"
                id="prenomId"
                type="text"
                placeholder="Votre prénom ici (obligatoire)"
                formControlName="prenom"
                [ngClass]="{
                  'is-valid':
                    (problemeForm.get('prenom').touched ||
                      problemeForm.get('prenom').dirty) &&
                    problemeForm.get('prenom').valid,
                  'is-invalid':
                    (problemeForm.get('prenom').touched ||
                      problemeForm.get('prenom').dirty) &&
                    !problemeForm.get('prenom').valid
                }"
              />
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <!-- Bouton save ici -->
    </div>
  </div>
</div>
